/* 
           Name: Mateo Valles
       Filename: style.css
         Course: INFT 2202
           Date: January 10th, 2025
    Description: This is my general style sheet. 
                 Styles that affect all pages should
                 go here.
*/